.btn {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #d7c146;
  color: #fff;
  padding: 8px 24px;
  font-size: 16px;
}

.btnText {
  display: inline-block;
  margin-left: 10px;
}

.btn:hover {
  background: #d7c146a8;
}

.arrow {
  border-radius: 50px;
}

.MovieDetailsPageContainer {
  display: flex;
  /* border-bottom: 2px solid #000; */
  box-shadow: 5px 3px 5px red;
  margin-bottom: 20px;
}

.MovieInfo {
  padding: 15px 20px;
}

.Moviedetails__genre {
  margin-bottom: 15px;
}

.Moviedetails__genreItem:not(:last-child) {
  margin-right: 15px;
}

.AdditionalInformation {
  padding: 15px;
  margin-bottom: 50px;
  box-shadow: 5px 3px 5px red;
}

.AdditionalInformation li {
  margin-top: 10px;
}
